:root {
  --fuenteHeadings: "PT-Sans", sans-serif;
  --fuenteParagraph: "Open Sans", sans-serif;

  --primario: #784d3c;
  --blanco: #fff;
  --negro: #000;
  --gris: #e1e1e1;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 REM === 10PX */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* GLOBALES */

body {
  font-family: var(--fuenteParagraph);
  font-size: 1.6rem; /*TAMAÑO DE FUENTE RECOMENDADO */
  line-height: 2;
}

.contenedor {
  max-width: 120rem; /*1200PX -> ANCHO MÁXIMO AL QUE SE LE APLICAN LOS CAMBIOS*/
  width: 90%;
  /* width: min(90%,120rem); --> ACORTA TODO A UNA LÍNEA , LO DEL MAX Y WIDTH */
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeadings);
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

/* UTILIDADES */
.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.centrar-texto {
  text-align: center;
}

.redondear__imgs{
  border-radius: 1.5rem;
}



/* HEADER */

.webp .header{
  background-image: url(../img/banner.webp);
}

.no-webp .header{
  background-image: url(../img/banner.jpg);
}

.header {
  height: 60rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header__texto {
  text-align: center;
  color: var(--blanco);
}

@media (min-width: 768px) {
  .header__texto {
    margin-top: 15rem;
  }
}

.logo {
  color: var(--blanco);
}

.logo__nombre {
  font-weight: 400;
}

@media (max-width: 768px) {
  .logo__nombre {
    margin-bottom: 1rem;
  }
}

.logo__bold {
  font-weight: 700;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    gap: 1.8rem;
  }
}

@media (max-width: 768px ) {
    .nav__enlace:last-of-type{
      padding-bottom: 2rem;
    }
}

  .nav__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
  }

.barra{
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
  }
}

@media (min-width: 768px) {
  .contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
  }
}

.entrada {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}

.entrada:last-of-type {
  border: none;
  margin-bottom: 0;
}

.boton {
  display: block;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  color: var(--blanco);
  font-weight: bold;
  font-family: var(--fuenteHeadings);
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  cursor: pointer;
}



@media (min-width: 768px) {
  .boton {
    display: inline-block;
  }
}
.boton--primario {
  background-color: var(--negro);
}

.boton--secundario {
  background-color: var(--primario);
}

.widget-curso {
  border-bottom: 1px solid var(--gris);
  margin-bottom: 2rem;
}

.widget-curso:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.widget-curso__label,
.curso__label
{
  font-family: var(--fuenteHeadings);
  font-weight: bold;
}
.widget-curso__span,
.curso__span{
  font-weight: normal;
}

.widget-curso__label,
.widget-curso__span,
.curso__label, 
.curso__span {
  font-size: 2rem;
}

.footer {
  background-color: var(--negro);
  padding-bottom: 4rem;
  margin-top: 4rem;
}

@media (max-width: 768px ) {
    .footer{
      padding-bottom: 1rem;
    }
}


/* NOSOTROS */

/* HECHO CON FLEXBOX --> MÁS CÓDIGO */
/* @media (min-width: 768px) {
  .sobre-nosotros {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .sobre-nosotros__img {
    flex-basis: calc(50% - 1rem);
  }
  .sobre-nosotros__paragraph {
    flex-basis: calc(50% - 1rem);
  }
} */

@media (min-width: 768px) {
  .sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2,1fr); /*CUANDO SE VAYA A COLOCAR DOS COLUMNAS DEL MISMO TAMAÑO Y NO SOLO A POSICIONAR ES MEJOR CSS GRID */
    column-gap: 2rem;                     /*POR EJEMPLO CUANDO VAYAS A CREAR DOS COLUMNAS DEL MISMO TAMAÑO UTILIZAMOS GRID*/
  }
}


/* CURSO */

.curso{
  padding: 3rem 0;
  border-bottom: 1px solid var(--gris);
}

.curso:last-of-type{
  border-bottom: none;
}

@media (min-width: 768px) {
  .curso{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }
}


/* CONTACTO */

.contacto__bg{
  background-image: url(../img/contacto.jpg);
  height: 40rem;
  background-repeat: no-repeat;
}

.formulario{
  background-color: #fff;
  margin: -5rem auto 0 auto;
  width: 95%;
  padding: 5rem;
}

.campo{
  display: flex;
  margin-bottom: 2.5rem;
  gap: 2rem;
}

@media (max-width:480px ) {

  .campo{
    flex-direction: column;
    gap: 0;
    margin-bottom: 1.5rem;
    align-items: center;
  }

  .campo__label{
    line-height: 3;
  }
    
}

.campo__label{
  flex: 0 0 5rem;
}
.campo__field{
  flex: 1;
  border: 1px solid var(--gris);
  outline: none;
  padding: 1rem;
  border-radius: .5rem;
}

@media (min-width: 768px) {
  .campo__label{
    flex: 0 0 9rem;
    text-align: right;
    
  }
  
}

.campo__field--textArea{
  height: 20rem;
}
